[submodule "⭐3Machine Learning & AI/(Part_2)Deep_Learning_Specializations/⭐(Da_3)Deep Fakes/first-order-model"]
	path = ⭐3Machine Learning & AI/(Part_2)Deep_Learning_Specializations/⭐(Da_3)Deep Fakes/first-order-model
	url = https://github.com/AliaksandrSiarohin/first-order-model.git
